--功能权限数据脚本
USE [mymooo_workbench]
GO

declare @menuId1 bigint
declare @menuId2 bigint
declare @menuId3 bigint
declare @menuId4 bigint
declare @menuId5 bigint
declare @menuId6 bigint
declare @menuId7 bigint
declare @menuId8 bigint
declare @menuId9 bigint
declare @menuId10 bigint
declare @menuId11 bigint
set @menuId1 = (select Id from [Menu] where AppId='crm' and Title = '客户总表')
set @menuId2 = (select Id from [Menu] where AppId='crm' and Title = '审核备案')
set @menuId3 = (select Id from [Menu] where AppId='crm' and Title = '客户回收')
set @menuId4 = (select Id from [Menu] where AppId='crm' and Title = '客户转移')
set @menuId5 = (select Id from [Menu] where AppId='crm' and Title = '月结变更审批')
set @menuId6 = (select Id from [Menu] where AppId='crm' and Title = '分配审批')
set @menuId7 = (select Id from [Menu] where AppId='crm' and Title = '合同检查')
set @menuId8 = (select Id from [Menu] where AppId='crm' and Title = '信用总表')
set @menuId9 = (select Id from [Menu] where AppId='crm' and Title = '编辑客户')
set @menuId10 = (select Id from [Menu] where AppId='crm' and Title = '信用列表')
set @menuId11 = (select Id from [Menu] where AppId='crm' and Title = '客诉总表')

INSERT [dbo].[MenuItem] ([MenuId], [Path], [Title], [Description], [CreateUser], [CreateDate], [ControlPrivilege], [AppId]) VALUES (@menuId1, N'/Company/UpdateCompanyStatus', N'禁用', N'', N'YuJian', CAST(N'2021-06-24T17:02:40.133' AS DateTime), 0, N'crm')
INSERT [dbo].[MenuItem] ([MenuId], [Path], [Title], [Description], [CreateUser], [CreateDate], [ControlPrivilege], [AppId]) VALUES (@menuId2, N'/CompanyKeepon/ApproveKeepon', N'通过', N'', N'YuJian', CAST(N'2021-06-24T17:03:31.880' AS DateTime), 0, N'crm')
INSERT [dbo].[MenuItem] ([MenuId], [Path], [Title], [Description], [CreateUser], [CreateDate], [ControlPrivilege], [AppId]) VALUES (@menuId2, N'/CompanyKeepon/RejectKeepon', N'否决', N'', N'YuJian', CAST(N'2021-06-24T17:03:57.007' AS DateTime), 0, N'crm')
GO




declare @roleId1 bigint
declare @roleId2 bigint
declare @roleId3 bigint
declare @roleId4 bigint
declare @roleId5 bigint
declare @roleId6 bigint
declare @roleId7 bigint
declare @roleId8 bigint
declare @roleId9 bigint
declare @roleId10 bigint
declare @menuItemId1 bigint
declare @menuItemId2 bigint
declare @menuItemId3 bigint
declare @menuItemId4 bigint
declare @menuItemId5 bigint
declare @menuItemId6 bigint
declare @menuItemId7 bigint
declare @menuItemId8 bigint
declare @menuItemId9 bigint
declare @menuItemId10 bigint
declare @menuItemId11 bigint
declare @menuItemId12 bigint
declare @menuItemId13 bigint
declare @menuItemId14 bigint
declare @menuItemId15 bigint
declare @menuItemId16 bigint
declare @menuItemId17 bigint
declare @menuItemId18 bigint
declare @menuItemId19 bigint
declare @menuItemId20 bigint
declare @menuItemId21 bigint
declare @menuItemId22 bigint
declare @menuItemId23 bigint
declare @menuItemId24 bigint
declare @menuItemId25 bigint
declare @menuItemId26 bigint
set @menuItemId1 = (select Id from [MenuItem] where Path = '/Company/UpdateCompanyStatus' and Title='禁用')
set @menuItemId2 = (select Id from [MenuItem] where Path = '/CompanyKeepon/ApproveKeepon' and Title='通过')
set @menuItemId3 = (select Id from [MenuItem] where Path = '/CompanyKeepon/RejectKeepon' and Title='否决')
set @menuItemId4 = (select Id from [MenuItem] where Path = '/CompanyKeepon/AllRejectKeepon' and Title='全部否决')
set @menuItemId5 = (select Id from [MenuItem] where Path = '/Company/RecycleCompany' and Title='回收')
set @menuItemId6 = (select Id from [MenuItem] where Path = '/Company/ImportBatchRecycleCompany' and Title='导入（批量回收）')
set @menuItemId7 = (select Id from [MenuItem] where Path = '/Company/TransferCompanySalesMan' and Title='转移')
set @menuItemId8 = (select Id from [MenuItem] where Path = '/Company/ImportBatchTransferCompanySalesMan' and Title='导入（批量转移）')
set @menuItemId9 = (select Id from [MenuItem] where Path = '/Company/PayMethodEffect' and Title='批准')
set @menuItemId10 = (select Id from [MenuItem] where Path = '/Company/PayMethodRecheck' and Title='复核驳回')
set @menuItemId11 = (select Id from [MenuItem] where Path = '/Company/PayMethodReject' and Title='驳回')
set @menuItemId12 = (select Id from [MenuItem] where Path = '/GongHai/ApproveDistributeCompany' and Title='审批')
set @menuItemId13 = (select Id from [MenuItem] where Path = '/GongHai/RejectDistributeCompany' and Title='驳回')
set @menuItemId14 = (select Id from [MenuItem] where Path = '/SalesOrder/ContractCheck' and Title='标记')
set @menuItemId15 = (select Id from [MenuItem] where Path = '/Credit/TemporaryConvertToFixedCredit' and Title='转信用额度')
set @menuItemId16 = (select Id from [MenuItem] where Path = '/Credit/RevokeTemporaryCredit' and Title='撤销临时额度')
set @menuItemId17 = (select Id from [MenuItem] where Path = '/Company/EditAddress' and Title='修改收货地址')
set @menuItemId18 = (select Id from [MenuItem] where Path = '/Company/EditInvoice' and Title='修改发票资料')
set @menuItemId19 = (select Id from [MenuItem] where Path = '/Company/EditPayMethod' and Title='修改结算方式')
set @menuItemId20 = (select Id from [MenuItem] where Path = '/Company/SettlementChangeApply' and Title='申请月结变更')
set @menuItemId21 = (select Id from [MenuItem] where Path = '/Company/Agreement' and Title='上传月结协议')
set @menuItemId22 = (select Id from [MenuItem] where Path = '/Credit/ApplyCreditLimit' and Title='申请信用额度')
set @menuItemId23 = (select Id from [MenuItem] where Path = '/Credit/ApplyCreditLimit' and Title='申请临时额度')
set @menuItemId24 = (select Id from [MenuItem] where Path = '/CompanyComplaint/Apportion' and Title='分派')
set @menuItemId25 = (select Id from [MenuItem] where Path = '/CompanyComplaint/Close' and Title='关闭')
set @menuItemId26 = (select Id from [MenuItem] where Path = '/CompanyComplaint/Invalid' and Title='作废')
set @roleId1 = (select Id from [Roles] where Code = 'admin')
set @roleId2 = (select Id from [Roles] where Code = 'salesman')
set @roleId3 = (select Id from [Roles] where Code = 'keeponAttache')
set @roleId4 = (select Id from [Roles] where Code = 'complaintManager')
set @roleId5 = (select Id from [Roles] where Code = 'complaint')
set @roleId6 = (select Id from [Roles] where Code = 'creditManager')
set @roleId7 = (select Id from [Roles] where Code = 'user')
set @roleId8 = (select Id from [Roles] where Code = 'ownership')
set @roleId9 = (select Id from [Roles] where Code = 'businessSpecialist')
set @roleId10 = (select Id from [Roles] where Code = 'Highmanager')


INSERT [dbo].[RolesMenuItem] ([RoleId], [MenuItemId], [IsRight], [CreateUser], [CreateDate]) VALUES (@roleId9, @menuItemId14, 1, N'YuJian', CAST(N'2021-06-25T10:03:27.160' AS DateTime))
INSERT [dbo].[RolesMenuItem] ([RoleId], [MenuItemId], [IsRight], [CreateUser], [CreateDate]) VALUES (@roleId2, @menuItemId17, 1, N'YuJian', CAST(N'2021-06-25T10:12:40.783' AS DateTime))
INSERT [dbo].[RolesMenuItem] ([RoleId], [MenuItemId], [IsRight], [CreateUser], [CreateDate]) VALUES (@roleId2, @menuItemId18, 1, N'YuJian', CAST(N'2021-06-25T10:12:40.783' AS DateTime))

GO
