USE [mymooo_workbench]

INSERT [dbo].[Menu] ([ParentId], [Path], [Title], [Icon], [Sort], [IsPublish], [Description], [CreateUser], [CreateDate], [PublishUser], [PublishDate], [Component], [Name], [AppId]) VALUES (0, N'/detail', N'供应链考核明细', N'eye-open', 10, 1, N'', N'YinSheng', CAST(N'2021-05-07T14:19:48.447' AS DateTime), N'YinSheng', CAST(N'2021-05-07T14:19:48.447' AS DateTime), N'/index', N'', 'report')
GO
declare @id1 bigint
  set @id1 = (select top 1 Id from Menu where Title = '供应链考核明细' and AppId = 'report')
INSERT [dbo].[Menu] ([ParentId], [Path], [Title], [Icon], [Sort], [IsPublish], [Description], [CreateUser], [CreateDate], [PublishUser], [PublishDate], [Component], [Name], [AppId]) VALUES (@id1,N'purchaseReach', N'采购达成明细', N'', 10, 1, N'', N'YinSheng', CAST(N'2021-05-07T14:19:48.460' AS DateTime), N'YinSheng', CAST(N'2021-05-07T14:19:48.460' AS DateTime), N'/detail/purchaseReach/index', N'purchaseReach', 'report')
INSERT [dbo].[Menu] ([ParentId], [Path], [Title], [Icon], [Sort], [IsPublish], [Description], [CreateUser], [CreateDate], [PublishUser], [PublishDate], [Component], [Name], [AppId]) VALUES (@id1,N'purchaseDelay', N'采购延迟明细', N'', 10, 1, N'', N'YinSheng', CAST(N'2021-05-07T14:19:48.460' AS DateTime), N'YinSheng', CAST(N'2021-05-07T14:19:48.460' AS DateTime), N'/detail/purchaseDelay/index', N'purchaseDelay', 'report')

GO
declare @id2 bigint
  set @id2 = (select top 1 Id from Menu where Title = '系统管理' and AppId = 'report')

GO
declare @id3 bigint
  set @id3 = (select top 1 Id from Menu where Title = '客户表' and AppId = 'report')

GO
declare @id4 bigint
  set @id4 = (select top 1 Id from Menu where Title = '报表管理' and AppId = 'report')

declare @id5 bigint
  set @id5 = (select top 1 Id from Menu where Title = '投资机构' and AppId = 'report')
GO
declare @id6 bigint
  set @id6 = (select top 1 Id from Menu where Title = '内部表' and AppId = 'report')
GO
declare @id7 bigint
  set @id7 = (select top 1 Id from Menu where Title = '客户数量' and AppId = 'report')
GO
declare @id1 bigint
  set @id1 = (select top 1 Id from Menu where Title = '采购达成明细' and AppId = 'report')
GO





--INSERT [dbo].[Roles] ([Code], [Name], [Description], [CreateUser], [CreateDate], [ForbiddenUser], [ForbiddenDate], [IsAdmin], [IsForbidden]) VALUES (N'admin', N'管理员', N'', N'YinSheng', CAST(N'2021-05-07T14:19:48.427' AS DateTime), N'', NULL, 1, 0)
INSERT [dbo].[Roles] ([Code], [Name], [Description], [CreateUser], [CreateDate], [ForbiddenUser], [ForbiddenDate], [IsAdmin], [IsForbidden]) VALUES (N'user', N'普通员工', N'', N'YinSheng', CAST(N'2021-05-07T14:19:48.427' AS DateTime), N'', NULL, 0, 0)
INSERT [dbo].[Roles] ([Code], [Name], [Description], [CreateUser], [CreateDate], [ForbiddenUser], [ForbiddenDate], [IsAdmin], [IsForbidden]) VALUES (N'ownership', N'客户归属', N'', N'YinSheng', CAST(N'2021-05-07T14:19:48.427' AS DateTime), N'', NULL, 0, 0)
GO

declare @adminId bigint
declare @userId bigint
declare @ownershipId bigint
declare @menuId1 bigint
declare @menuId2 bigint
declare @menuId3 bigint
declare @menuId4 bigint
declare @menuId5 bigint
declare @menuId6 bigint
declare @menuId7 bigint
declare @menuId8 bigint
declare @menuId9 bigint
declare @menuId10 bigint
declare @menuId11 bigint
declare @menuId12 bigint
declare @menuId13 bigint
declare @menuId14 bigint
declare @menuId15 bigint
declare @menuId16 bigint
declare @menuId17 bigint
declare @menuId18 bigint
declare @menuId19 bigint
declare @menuId20 bigint
declare @menuId21 bigint
declare @menuId22 bigint
declare @menuId23 bigint
set @adminId = (select Id from [Roles] where Code = 'admin')
set @userId = (select Id from [Roles] where Code = 'user')
set @ownershipId = (select Id from [Roles] where Code = 'ownership')
set @menuId1 = (select Id from Menu where Title = '供应链考核明细' and AppId = 'report')
set @menuId2 = (select Id from Menu where Title = '采购达成明细' and AppId = 'report')
set @menuId3 = (select Id from Menu where Title = '采购延迟明细' and AppId = 'report')
set @menuId4 = (select Id from Menu where Title = '逾期项数明细' and AppId = 'report')
set @menuId5 = (select Id from Menu where Title = '品检延时明细' and AppId = 'report')
set @menuId6 = (select Id from Menu where Title = '物流延时明细' and AppId = 'report')
set @menuId7 = (select Id from Menu where Title = '到货均天明细' and AppId = 'report')
set @menuId8 = (select Id from Menu where Title = '不良明细' and AppId = 'report')
set @menuId9 = (select Id from Menu where Title = '报价延时明细' and AppId = 'report')
set @menuId10 = (select Id from Menu where Title = '系统管理' and AppId = 'report')
set @menuId11 = (select Id from Menu where Title = '用户管理' and AppId = 'report')
set @menuId12 = (select Id from Menu where Title = '角色管理' and AppId = 'report')
set @menuId13 = (select Id from Menu where Title = '菜单管理' and AppId = 'report')
set @menuId14 = (select Id from Menu where Title = '系统参数' and AppId = 'report')
set @menuId15 = (select Id from Menu where Title = '客户表' and AppId = 'report')
set @menuId16 = (select Id from Menu where Title = '客户归属' and AppId = 'report')
set @menuId17 = (select Id from Menu where Title = '报表管理' and AppId = 'report')
set @menuId18 = (select Id from Menu where Title = '投资机构' and AppId = 'report')
set @menuId19 = (select Id from Menu where Title = '客户数量' and AppId = 'report')
set @menuId20 = (select Id from Menu where Title = '内部表' and AppId = 'report')
set @menuId21 = (select Id from Menu where Title = 'QT表' and AppId = 'report')
set @menuId22 = (select Id from Menu where Title = '转化率' and AppId = 'report')
set @menuId23 = (select Id from Menu where Title = '送货单毛利' and AppId = 'report')

INSERT [dbo].[RolesMenu] ([RoleId], [MenuId], [IsRight], [CreateUser], [CreateDate]) VALUES (@userId, @menuId1, 1, N'YinSheng', CAST(N'2021-05-07T14:19:48.490' AS DateTime))
INSERT [dbo].[RolesMenu] ([RoleId], [MenuId], [IsRight], [CreateUser], [CreateDate]) VALUES (@userId, @menuId2, 1, N'YinSheng', CAST(N'2021-05-07T14:19:48.493' AS DateTime))
INSERT [dbo].[RolesMenu] ([RoleId], [MenuId], [IsRight], [CreateUser], [CreateDate]) VALUES (@userId, @menuId4, 1, N'YinSheng', CAST(N'2021-05-07T14:19:48.500' AS DateTime))
GO



declare @adminId bigint
declare @userId bigint
declare @ownershipId bigint
set @adminId = (select Id from [Roles] where Code = 'admin')
set @userId = (select Id from [Roles] where Code = 'user')
set @ownershipId = (select Id from [Roles] where Code = 'ownership')

INSERT [dbo].[UserRoles] ([UserCode], [RoleId], [CreateUser], [CreateDate]) VALUES (N'denghui', @userId, N'YinSheng', CAST(N'2021-05-07T14:19:48.730' AS DateTime))
INSERT [dbo].[UserRoles] ([UserCode], [RoleId], [CreateUser], [CreateDate]) VALUES (N'MoYiFeng', @adminId, N'YinSheng', CAST(N'2021-05-07T14:19:48.730' AS DateTime))
INSERT [dbo].[UserRoles] ([UserCode], [RoleId], [CreateUser], [CreateDate]) VALUES (N'yujian', @userId, N'YinSheng', CAST(N'2021-05-07T14:19:48.733' AS DateTime))
GO
