<?xml version="1.0" encoding="UTF-8"?>
<!--MergeItemInfor Condition="/configuration/configSections/section[@name='K3CloudConfiguration']" ParentNode="/configuration/configSections"   OpeType="AddOrUpdate" -->
<!--MergeItemInfor Condition="/configuration/configSections/section[@name='ApigatewayConfiguration']" ParentNode="/configuration/configSections"   OpeType="AddOrUpdate" -->
<!--MergeItemInfor Condition="/configuration/appSettings/add[@key='ScmUrl']" ParentNode="/configuration/appSettings"   OpeType="AddOrUpdate" -->
<!--MergeItemInfor Condition="/configuration/appSettings/add[@key='MaYiAdminUrl']" ParentNode="/configuration/appSettings"   OpeType="AddOrUpdate" -->
<!--MergeItemInfor Condition="/configuration/appSettings/add[@key='WorkbenchUrl']" ParentNode="/configuration/appSettings"   OpeType="AddOrUpdate" -->
<!--MergeItemInfor Condition="/configuration/appSettings/add[@key='DispatchToCloudUrl']" ParentNode="/configuration/appSettings"   OpeType="AddOrUpdate" -->
<!--MergeItemInfor Condition="/configuration/appSettings/add[@key='WorkbenchForMqMesAppId']" ParentNode="/configuration/appSettings"   OpeType="AddOrUpdate" -->
<!--MergeItemInfor Condition="/configuration/appSettings/add[@key='WorkbenchForMqMesUrl']" ParentNode="/configuration/appSettings"   OpeType="AddOrUpdate" -->
<!--MergeItemInfor Condition="/configuration/appSettings/add[@key='cloudStockUrl']" ParentNode="/configuration/appSettings"   OpeType="AddOrUpdate" -->
<!--MergeItemInfor Condition="/configuration/K3CloudConfiguration" ParentNode="/configuration"  OpeType="AddOrUpdate" -->
<!--MergeItemInfor Condition="/configuration/ApigatewayConfiguration" ParentNode="/configuration"  OpeType="AddOrUpdate" -->
<configuration>
	<configSections>
		<section name="K3CloudConfiguration" type="Kingdee.Mymooo.Core.K3CloudConfiguration.K3CloudServiceConfiguration,Kingdee.Mymooo.Core"/>
		<section name="ApigatewayConfiguration" type="Kingdee.Mymooo.Core.ApigatewayConfiguration.ApigatewayServiceConfiguration,Kingdee.Mymooo.Core"/>
	</configSections>
	<scripting>
	</scripting>
	<policyInjection>

	</policyInjection>

	<appSettings>
		<!--ERP派产销售订单给云平台-->
		<add key="DispatchToCloudUrl" value="http://fbtest.cpolar.cn/bjapi/" />
		<!--统一平台提供给ERP调用，mq消息队列mes系统AppId-->
		<add key="WorkbenchForMqMesAppId" value="devmymoooerp" />
		<!--统一平台提供给ERP调用，mq消息队列mes系统地址-->
		<add key="WorkbenchForMqMesUrl" value="http://devwork.mymooo.com:1202/RabbitMQ/SendMessage?queueName=topic.spex.order.test" />
		<!--云仓储地址-->
		<add key="cloudStockUrl" value="http://devcloudstockapi.mymooo.com/" />
	</appSettings>

	<system.web>

	</system.web>
	<system.webServer>

	</system.webServer>
	<system.serviceModel>
	</system.serviceModel>
	<K3CloudConfiguration>
		<K3CloudConfig dataCenterNumber="640f0594520dba" username="demo" appId="235451_362M0wEv6JlbQZUEXZ3D2xUtyv0WSDLp" appSecret="ccfcb33437fd4f599db307d3fb3c5c60"></K3CloudConfig>
	</K3CloudConfiguration>
	<ApigatewayConfiguration>
		<ApigatewayConfig url="http://gateway.mymooo.com/" token="235451_362M0wEv6JlbQZUEXZ3D2xUtyv0WSDLp" nonce="ccfcb33437fd4f599db307d3fb3c5c60" appId="developk3cloud" envCode="develop"></ApigatewayConfig>
	</ApigatewayConfiguration>
</configuration>